{% extends 'base.html.twig' %}

{# {% block title %}Liste de recettes{% endblock %} #}
{% block title 'Liste de recettes' %}

{% block body %}
<h1>Liste de recettes</h1>
<ul>
    {% for recipe in recipes %}
    <li>
        <a href={{ path('app_recipe_show', {id: recipe.id, slug: recipe.slug}) }}>{{ recipe.title }}</a>
    </li>
    {% else %}
        <p>Pas encore de recette !!!</p>
    {% endfor %}
</ul>
{% endblock %}
